@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#errormessage {
  visibility: hidden;
  bottom: 0;
}

#errormessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(174, 33, 33);
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  box-shadow: var(--shadow);
  font-weight: bold;
}

#fadingmessage {
  visibility: hidden;
  bottom: 0;
}

#fadingmessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--dark-orange);
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  box-shadow: var(--shadow);
  font-weight: bold;
}
