.votepanel {
  padding-right: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: min-content;
  align-items: center;
  justify-self: flex-end;
  grid-area: votes;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

p.greenlikes {
  color: green;
}

p.redlikes {
  color: red;
}

p.blacklikes {
  color: black;
}
